* {
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

/* seccion header */
header {
    margin: 0 auto;
    width: 1200px;
    max-width: 1600px;
    border-bottom: 1px solid var(--color-cuaternario);
}

.Hero__Header-Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
    height: 80px;
}


.Hero__Nav-container {
    display: flex;
    gap: 100px;
    align-items: center;
    height: 100%;
}

.Hero__list-nav {
    display: flex;
    gap: 25px;
    margin-top: 10px;
}

.Hero__Web-Studio {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 3%;
    text-align: center;
    text-decoration: none;
    color: var(--color-primario);

}

.Hero__Estudio {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14px;
    letter-spacing: 16%;
    color: var(--color-primario);
    position: relative;
}

.Hero__Estudio:hover,
.Hero__Estudio:focus {
    color: var(--color-primario);
}

.Hero__Estudio::after {
    content: "";
    position: absolute;
    top: 33px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--color-primario);
    border-radius: 5px;
}

.Hero__Portafolio,
.Hero__Contactos {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14px;
    letter-spacing: 16%;
    color: var(--color-secundario);
}

.Hero__Estudio:hover,
.Hero__Portafolio:hover,
.Hero__Contactos:hover,
.Hero__Estudio:focus,
.Hero__Portafolio:focus,
.Hero__Contactos:focus {
    color: var(--color-primario);
}

.Hero__contacts-nav {
    margin-left: auto;
    display: flex;
    gap: 20px;
    align-items: center;
}

.Hero__mail1,
.Hero__telf {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14px;
    letter-spacing: 16%;
    text-align: left;
    color: var(--color-terciario);
}

.Hero__telf-container,
.Hero__mail-container {
    display: flex;
    align-items: center;
}

.Hero__icon {
    width: 35px;
    height: 35px;
    stroke-width: 0;
    stroke: currentColor;
    align-self: flex-start;
    margin-bottom: -20px;
    fill: var(--color-terciario);
}

.Hero__mail-icon:hover svg.Hero__icon use,
.Hero__mail-icon:focus svg.Hero__icon use,
.Hero__telf-icon:hover svg.Hero__icon use,
.Hero__telf-icon:focus svg.Hero__icon use {
    fill: var(--color-primario);
    color: var(--color-primario);
    text-decoration: none;
}

.Hero__mail-container:hover .Hero__icon,
.Hero__mail-container:hover .Hero__mail1,
.Hero__telf-container:hover .Hero__icon,
.Hero__telf-container:hover .Hero__telf,
.Hero__mail-container:focus .Hero__icon,
.Hero__mail-container:focus .Hero__mail1,
.Hero__telf-container:focus .Hero__icon,
.Hero__telf-container:focus .Hero__telf,
.Hero__mail1:hover .Hero__icon,
.Hero__mail1:focus .Hero__icon,
.Hero__telf:hover .Hero__icon,
.Hero__telf:focus .Hero__icon {
    color: var(--color-primario);
}

.Hero__mail1:hover,
.Hero__mail1:focus,
.Hero__telf:hover,
.Hero__telf:focus,
.Hero__mail1:active,
.Hero__telf:active,
.Hero__mail-container:active .Hero__icon,
.Hero__mail-container:active .Hero__mail1,
.Hero__telf-container:active .Hero__icon,
.Hero__telf-container:active .Hero__telf {
    color: var(--color-primario);
}

.Hero__mail1:hover,
.Hero__mail1:focus,
.Hero__telf:hover,
.Hero__telf:focus {
    color: var(--color-primario);
}

.Hero__mail1:active .Hero__icon use,
.Hero__telf:active .Hero__icon use {
    fill: var(--color-primario);
    color: var(--color-primario);
}

.Hero__mail-icon:focus .Hero__icon use,
.Hero__telf-icon:focus .Hero__icon use,
.Hero__mail-container:focus .Hero__icon,
.Hero__telf-container:focus .Hero__icon,
.Hero__mail1:focus .Hero__icon,
.Hero__telf:focus .Hero__icon {
    fill: var(--color-primario);
    color: var(--color-primario);
}


.Solutions .Solutions__container {
    background-color: var(--color-fondo-solutions);
    background-image: url(./image/Imagen\ \(10\).jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 1600px;
    height: 600px;
}

.Solutions .Solutions__container .Solutions__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.Solutions .Solutions__container .abrir {
    background-color: var(--color-primario);
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    width: 261px;
    height: 50px;
    border: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-top: 20px;
}

.modal__close {
    width: 30px;
    height: 30px;
    position: relative;
    bottom: 25px;
    left: 25px;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__close span {
    position: relative;
    top: 1px;
    left: 0;
}

.modal__close:hover,
.modal__close:focus {
    color: var(--color-primario);
    text-decoration: none;
    cursor: pointer;
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    visibility: visible;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1;
}

.modal {
    position: relative;
    bottom: 80px;
    background-color: #FFFFFF;
    margin: 10% auto;
    padding: 40px;
    border: 1px solid rgba(30, 71, 255, 0.22);
    width: 528px;
    height: 581px;
}

.modal__header {
    width: 448px;
    height: 23px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-secundario);
}

.modal__item_Firts {
    position: relative;
    top: 15px;
}

.modal__label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: var(--color-terciario);
    position: relative;
    top: 10px;
}

.modal__input {
    width: 100%;
    height: 40px;
    display: block;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-top: 10px;
    padding-left: 45px;
}

.modal__input:hover,
.modal__input:focus {
    border-color: var(--color-primario);
}

.modal__input:hover+svg use,
.modal__input:focus+svg use {
    fill: var(--color-primario);
}

.modal__icon_People {
    width: 44px;
    height: 44px;
    position: relative;
    bottom: 33px;
    left: 10px;
}

.modal__item_Second {
    position: relative;
    bottom: 30px;
}

.modal__icon_Telf {
    width: 44px;
    height: 44px;
    position: relative;
    bottom: 30px;
    left: 10px;
}

.modal__item_Third {
    position: relative;
    bottom: 75px;
}

.modal__icon_Mail {
    width: 44px;
    height: 44px;
    position: relative;
    bottom: 32px;
    left: 10px;
}

.modal__item_Forth {
    position: relative;
    bottom: 125px;
}

.modal__label_Coment {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: var(--color-terciario);
    position: relative;
    top: 10px;
}

.modal__textarea {
    width: 100%;
    height: 96px;
    display: block;
    border: 1px solid rgba(163, 63, 63, 0.2);
    border-radius: 4px;
    margin-top: 10px;
    padding: 15px;
    resize: none;
}

textarea:hover,
textarea:focus {
    border-color: var(--color-primario);
}

::-webkit-input-placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.modal__item_Fifth {
    position: relative;
    bottom: 115px;
}

.modal__Check_Coment {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--color-terciario);
    display: flex;
    width: 400.62px;
    height: 24px;
    position: relative;
    left: 50px;
}

.modal__checkbox {
    width: 16px;
    height: 15px;
    position: relative;
    top: 25px;
    left: 25px;
    background-color: #FFFFFF;
    border-radius: 0.05em;
    overflow: hidden;
    position: relative;
    top: -16px;
    width: 15px;
    height: 16px;
}

.modal__item_Sixth input {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    width: 200px;
    height: 50px;
    color: #FFFFFF;
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    position: relative;
    bottom: 105px;
    left: 25%;
}

.Beneficios .beneficios__container .beneficios__txt {
    width: 1200px;
    margin: auto;
    display: flex;
    margin-top: 10px;
}

.Beneficios .beneficios__container {
    width: 1200px;
    margin: auto;
    display: flex;
    margin-top: 100px;
    flex-wrap: wrap;
}

.Beneficios .beneficios__container .beneficios__txt_Firts {
    width: 270px;
    vertical-align: top;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-top: 15px;
}

.beneficios__txt_Firts h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 3%;
}

.beneficios__txt_Firts p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 3%;
    color: var(--color-terciario);
}

.beneficios__svg-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-cuaternario);
    border-radius: 4px;
    width: 270px;
    height: 75%;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-top: 15px;
}

.beneficios__svg-container:hover {
    border: 1px solid var(--color-primario);
}

.Dedication {
    overflow: hidden;
}

.Dedication .container {
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.container .Dedication__title h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-secundario);
}

.container ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.container .Dedication__item {
    margin: 15px;
    width: 373px;
    height: 323px;
    margin-top: 80px;
}

.Dedication__list .dedication__text {
    background-color: var(--color-quintario);
    width: 373px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 73px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-sexto);
}

.Team {
    display: flex;
    justify-content: center;
    width: 100%;
}

.Team .container {
    text-align: center;
    margin-top: 80px;
    background-color: var(--color-cuaternario);
    width: 1600px;
}

.Team .container .team__title_ourT h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    padding-top: 20px;
    color: var(--color-secundario);
    margin-top: 20px;
}

.Team .container .team__item {
    display: flex;
    border: 0.1px solid #ccc;
    margin: 11px;
    box-shadow: 0px 1px 3px;
    margin-top: 40px;
}

.Team .container .team__item .team__name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: var(--color-secundario);
    margin-top: 25px;
}

.Team .container .team__item .team__role {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: var(--color-terciario);
    margin-top: 15px;
}

.Team .container .team__item img {
    margin-bottom: 5px;
}

.Team .team__social {
    border-radius: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: auto;
    margin-top: 15px;
    margin-left: 5px;
}

.icono-item {
    display: inline-block;
    width: 44px;
    height: 44px;
    stroke-width: 0;
    stroke: currentColor;
    fill: var(--color-septimo);
    align-self: center;
    margin-top: 8px;
}

.team__social ul .team__social-item:hover .icono-item {
    fill: var(--color-sexto);
}

.team__social ul .team__social-item:focus .icono-item {
    fill: var(--color-sexto);
}

.team__social .team__social-item {
    border-radius: 100%;
    width: 44px;
    height: 44px;
    margin: 5px;
    margin-left: 5px;
}

.team__social .team__social-item:hover {
    background-color: var(--color-primario);
}

.team__social .team__social-item svg {
    margin-top: 10px;
    margin-left: -1px;
}

.customers {
    width: 1200px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.customers .customers__container .customers__texto {
    width: 100%;
    height: 162px;
    margin-top: 70px;
}

.customers .customers__container .customers__texto .customers__title h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-secundario);
}

.customers .customers__container .customers__fondo_Svg {
    width: 1200px;
    margin-top: -70px;
}

.customers .customers__container .customers__container_Svg .customers__fondo_Svg {
    box-sizing: border-box;
    width: 170px;
    height: 81px;
    border: 1px solid var(--color-septimo);
    border-radius: 4px;
    margin-left: 30px;
}

.customers .customers__container .customers__container_Svg .customers__fondo_Svg:hover {
    box-sizing: border-box;
    width: 170px;
    height: 81px;
    border: 1px solid var(--color-primario);
    border-radius: 4px;
}

.customers .customers__container .customers__container_Svg {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -20px;
}

.customers__icn {
    stroke-width: 0;
    stroke: currentColor;
    fill: var(--color-septimo);
}

.customers__icn:hover {
    fill: var(--color-primario);
}

.icono-item:hover {
    fill: var(--color-sexto);
}

/* Footer seccion final */

.TimeOut {
    background-color: var(--color-fondo-solutions);
    width: 100%;
    max-width: 1600px;
    height: 252px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 0 auto;
    border-top: 1px solid var(--color-terciario);
}

.TimeOut .TimeOut__container {
    position: relative;
    top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -950px;
    width: 100%;
}

.TimeOut .TimeOut__container .TimeOut__web-studio {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 3%;
    text-align: center;
    text-decoration: none;
    color: var(--color-primario);
    position: relative;
    bottom: 10px;
}

.TimeOut ul li {
    display: flex;
    align-items: center;
    margin-left: 35px;
}

.TimeOut__direccion p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--color-sexto);
    width: 200px;
}

.TimeOut__email a,
.TimeOut__telefono a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    width: 200px;
}

.TimeOut__direccion p:hover,
.TimeOut__email a:hover,
.TimeOut__telefono a:hover {
    color: var(--color-primario);
}

.TimeOut__direccion p:focus,
.TimeOut__email a:focus,
.TimeOut__telefono a:focus {
    color: var(--color-primario);
}

.TimeOut .TimeOut__ubi {
    display: flex;
    align-items: center;
    position: relative;
    top: 130px;
}

.TimeOut .TimeOut__ubi .TimeOut__encuentranosEn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-sexto);
    float: right;
    margin-right: 380px;
    margin-top: -195px;
}

.TimeOut__ubi .TimeOut__svg-container-footer {
    width: 306px;
    height: 80px;
    margin-top: -160px;
    margin-left: -70px;
}

.TimeOut__social-icons {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.TimeOut__social-icons li {
    margin-right: -20px;
}

.TimeOut__back_itemFooter {
    border-radius: 50%;
    display: flex;
    height: 44px;
    padding: 5px;
    width: 44px;
    background: rgba(255, 255, 255, 0.1);
}

.TimeOut__back_itemFooter:hover {
    background-color: var(--color-primario);
}

.TimeOut__icono_item {
    display: inline-block;
    position: relative;
    left: 5px;
    width: 24px;
    height: 24px;
    stroke-width: 0;
    stroke: currentColor;
    fill: #ffffff;
    align-self: center;
}

.TimeOut__modal {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 100px;
    left: 300px;
    top: -60px;
}

.TimeOut__modal_label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-sexto);
    display: flex;
    flex-direction: column;
    position: relative;
    right: 100px;
}

.TimeOut__modal_ForInput {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    margin-top: 25px;
    padding-left: 10px;
    background-color: #ffffff00;
    position: relative;
    right: 100px;
}

.TimeOut__modal_ForInput::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.TimeOut__modal .TimeOut__submit {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    width: 200px;
    height: 50px;
    color: #FFFFFF;
    background: var(--color-primario);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    position: relative;
    bottom: 50px;
    left: 280px;
    padding-right: 30px;
}

.TimeOut__modal_SubSvg {
    width: 30px;
    height: 30px;
    position: relative;
    bottom: 85px;
    left: 420px;
}

.TimeOut__modal_ForInput:focus {
    color: var(--color-primario);
}

.Hero,
.Solutions,
.Beneficios,
.Dedication,
.Team,
.TimeOut {
    padding: 47 0;
    margin: 0 auto;
}

.customers {
    padding: 0 auto;
    margin: 0 auto;
}