:root {
    --color-primario: #2196F3;
    --color-secundario: #212121;
    --color-terciario: #757575;
    --color-cuaternario: #ECECEC;
    --color-quintario: rgba(47, 48, 58, 0.8);
    --color-sexto: #FFFFFF;
    --color-septimo: #AFB1B8;
    --color-fondo-solutions: #2F303A;
    --color-blanco-second: #F5F4FA;
}

* {
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

/* seccion header */

header {
    margin: 0 auto;
    width: 1200px;
    max-width: 1600px;
    border-bottom: 1px solid var(--color-cuaternario);
}

.container ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.Hero,
.Solutions,
.Benefits,
.Dedication,
.Team,
.TimeOut {
    padding: 47 0;
    margin: 0 auto;
}

.customers {
    padding: 0 auto;
    margin: 0 auto;
}