:root {
    --color-primario: #2196F3;
    --color-secundario: #212121;
    --color-terciario: #757575;
    --color-cuaternario: #ECECEC;
    --color-quintario: rgba(47, 48, 58, 0.8);
    --color-sexto: #FFFFFF;
    --color-septimo: #AFB1B8;
    --color-fondo-solutions: #2F303A;
    --color-blanco-second: #F5F4FA;
}

$main-font: "Roboto", sans-serif;
$regular-weight: 400;
$medium-weight: 500;
$bold-weight: 700;
$main-size: 14px;
$secondary-size: 16px;
$main-letter: 0.03em;
$main-text-color: #212121;
$secondary-text-color: #757575;
$main-white-color: #ffffff;
$black-logo: #000000;

$accent-color: #2196f3;
$accent-color-hover: #188ce8;

$color-light-gray: #e5e5e5;
$bg-black: #2f303a;
$bg-gray: #f5f4fa;
$border-gray: #ececec;
$border-white: #eeeeee;
$icon-color: #afb1b8;

* {
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

header {
    margin: 0 auto;
    width: 1200px;
    border-bottom: 1px solid var(--color-cuaternario);
}

.container ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.Hero,
.Solutions,
.Benefits,
.Dedication,
.Team,
.TimeOut {
    padding: 47 0;
    margin: 0 auto;
}

.customers {
    padding: 0 auto;
    margin: 0 auto;
}