.Benefits .Benefits__container {
    width: 1200px;
    margin: auto;
    display: flex;
    margin-top: 100px;
    flex-wrap: wrap;

    .Benefits__txt {
            width: 1200px;
            margin: auto;
            display: flex;
            margin-top: 10px;
        }

    .Benefits .Benefits__container ul {
        flex-basis: calc(50% - 30px);
        margin-bottom: 30px;
        }
    
        .Benefits__txt_Firts {
            width: 270px;
            vertical-align: top;
            margin-right: 30px;
            margin-bottom: 30px;
            margin-top: 15px;
        }
    
        .Benefits__txt_Firts h2 {
            font-family: 'Roboto', sans-serif;
            font-weight: 400px;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 3%;
        }
    
        .Benefits__txt_Firts p {
            font-family: 'Roboto', sans-serif;
            font-weight: 400px;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 3%;
            color: var(--color-terciario);
        }
    
        .Benefits__svg-container {
            display: flex;
            align-items: center;
            justify-content: center;
            background: var(--color-cuaternario);
            border-radius: 4px;
            width: 270px;
            height: 75%;
            margin-right: 30px;
            margin-bottom: 30px;
            margin-top: 15px;
        }
    
        .Benefits__svg-container:hover {
            border: 1px solid var(--color-primario);
        }
}


@media screen and (max-width: 780px) {

    .Benefits .Benefits__container {
        padding: 0 20px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .Benefits .Benefits__container .Benefits__txt_Firts {
        margin-right: 0;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .Benefits .Benefits__container .Benefits__svg-container {
        width: 500px;
    }

    .Benefits .Benefits__container .Benefits__txt_Firts {
        width: 500px;
    }

    .Benefits .Benefits__container {
        flex-wrap: wrap;
    }

}

