.customers {
    width: 1200px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

    .customers__texto {
            width: 100%;
            height: 162px;
            margin-top: 70px;
        }
    
        .customers__title h2 {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 42px;
            text-align: center;
            letter-spacing: 0.03em;
            color: var(--color-secundario);
        }
    
        .customers__fondo_Svg {
            width: 1200px;
            margin-top: -70px;
        }
    
        .customers__fondo_Svg {
            box-sizing: border-box;
            width: 170px;
            height: 81px;
            border: 1px solid var(--color-septimo);
            border-radius: 4px;
            margin-left: 30px;
        }
    
        .customers__fondo_Svg:hover {
            box-sizing: border-box;
            width: 170px;
            height: 81px;
            border: 1px solid var(--color-primario);
            border-radius: 4px;
        }
    
        .customers__container_Svg {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: -20px;
        }
    
        .customers__icn {
            stroke-width: 0;
            stroke: currentColor;
            fill: var(--color-septimo);
        }
    
        .customers__icn:hover {
            fill: var(--color-primario);
        }
}
